.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../Picture/sea.jpg);
  animation: parent 100s ease 0s 6 normal forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.parent .container {
  width: 75%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.parent form {
  width: 50%;
  height: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* border: 3px solid brown; */
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px); */
  border-radius: 10px;
}
.parent input {
  width: 80%;
  padding: 7px 20px;
  text-align: center;
  border-radius: 8px;
  border-style: none;
}
.parent input:nth-child(6) {
  width: auto;
  background-color: transparent;
}
.parent .card {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.parent h1 {
  font-style: italic;
}
.card a {
  text-decoration: none;
  font-size: 15px;
  color: #080808;
}
.parent button {
  padding: 12px 70px;
  color: #fff;
  background-color: #2b2bf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .parent button {
    padding: 12px 50px;
    color: white;
    background-color: #2b2bf8;
    border: none;
    border-radius: 8px;
  }
  .parent input {
    width: 55%;
    height: 8%;
    padding: 0 20px;
    text-align: center;
    border-radius: 8px;
    border-style: none;
  }
  .parent input:nth-child(6) {
    width: 70px;
    background-color: transparent;
  }

  .card a {
    text-decoration: none;
    font-size: 13px;
    color: black;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  @keyframes parent {
    0% {
      background-position: center bottom;
      background-size: 100%;
    }

    100% {
      background-position: center bottom;
      background-size: 150%;
    }
  }
}
