.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../Picture/sea.jpg);
  animation: parent 100s ease 0s 6 normal forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 1200px) and (max-width: 1800px) {
  @keyframes parent {
    0% {
      background-position: center bottom;
      background-size: 100%;
    }

    100% {
      background-position: center bottom;
      background-size: 150%;
    }
  }
}

/* .parent button { 
    padding: 12px 70px;
    color: #fff;
    background-color: #2b2bf8;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
  } */
.parent .container {
  width: 65%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
.parent form {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
}
.parent input {
  width: 80%;
  height: 10%;
  padding: 0 20px;
  text-align: center;
  border-radius: 8px;
  border-style: none;
}

.parent .card {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: rgb(250, 248, 248);
}

.card a {
  text-decoration: none;
  font-size: 15px;
  color: #080808;
}

.parent .card button {
  padding: 12px 60px;
  cursor: pointer;
  background-color: #2b2bf8;
  border: none;
  border-radius: 8px;
  color: #fff;
}
.parent h1 {
  font-style: italic;
}

@media only screen and (max-width: 1200px) {
  .parent .card {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .card a {
    text-decoration: none;
    font-size: 13px;
    transform: translateX(-6%);
    color: red;
  }
  .parent button {
    padding: 12px 50px;
    color: white;
    background-color: #2b2bf8;
    border: none;
    border-radius: 8px;
  }
  .parent input {
    width: 55%;
    height: 8%;
    padding: 0 20px;
    text-align: center;
    border-radius: 8px;
    border-style: none;
  }
}
/* @media only screen and (max-width: 420px) {
  
  .card a {
    text-decoration: none;
    font-size: 5px;
    transform: translateX(60%);
    color: #c70039;
  }
} */
